#root {
    margin: 0;
}

html,
body {
    margin: 0;
    height: 100%;
    padding: 0px;
}

/* Home Things */

/* Header */

.homeHeader {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    height: 60vh;
    background-color: rgb(215, 53, 26);
}

.homeHeader button,
.homeHeader h1 {
    filter: blur(0px);
}

#catalogue-button {
    width: 100px;
    height: 150px;
}

/* Recipes */

.topRecipes-container {
    background-color: #fbfbff;
}

.topRecipes-container h1 {
    text-align: center;
    font-weight: 900;
}

.topRecipes {
    display: flex;
    justify-content: space-evenly;
}

.single-topRecipe {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 250px;
}

.topRecipe-img {
    width: 200px;
    border-style: solid;
    border-radius: 50%;
    border-width: 10px;
    border-color: #d7351a;
}

.single-topRecipe p {
    font-size: 35px;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
}

.single-topRecipe-img {
    text-align: center;
}
